.modal {
  background: black;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1.5rem;
  max-width: 28rem;
  width: 100%;
}

.overlay {
  background: "rgba(0, 0, 0, 0.2)";
}

.closeButton {
  fill: white;
}
